mat-card {
  width: 400px;  
}

mat-card-header {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.delete {
  margin-top: 10px;
  margin-left: auto;
}

mat-card-header h2 {
  margin-bottom: 0;
}

mat-card-header p {
  margin-top: 0;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 80px;
}

button[color="warn"] {
  background-color: #cacaca;
  color: rgb(192, 0, 0);
}