  <mat-card>
    <mat-card-header>
        <h2>{{ workout.name }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>{{ workout.date | relativeDate }}</p>
      </div>
      <div>
        <p>type: {{ workout.type }}</p>
        <p><strong>Sport: {{ workout.sport }}</strong></p>   
      </div>
      <div>
        <p><strong>Time: {{ workout.time }}m</strong></p>
        <p>Calories: {{ workout.calories }}cal</p>
        <p>intensity: {{ workout.intensity }}</p>        
      </div>

    </mat-card-content>
  </mat-card>

